<div class="cosmo-modal__container" [class.is--closed]="!open">
  <form class="cosmo-modal" [formGroup]="createApplicationForm" (ngSubmit)="createApplication()">
    <h1 class="cosmo-modal__title" i18n="@@create-application-title">Create app</h1>
    <div class="cosmo-modal__content">
      @if (hasErrors) {
        <div class="cosmo-message is--negative">
          <span class="cosmo-message__header" i18n="@@create-application-exists-title">The app exists</span>
          <p class="cosmo-message__message" i18n="@@create-application-exists-message">An app with these parameters
            exists already</p>
        </div>
      }
      <div class="cosmo-input__group">
        <label for="add-app-name" class="cosmo-label" i18n="@@application-name-label">Name</label>
        <input formControlName="name" type="text" class="cosmo-input" required id="add-app-name">
        <label for="add-app-slug" class="cosmo-label" i18n="@@application-slug-label">Slug</label>
        <input formControlName="slug" type="text" class="cosmo-input" required id="add-app-slug">
      </div>
    </div>
    <div class="cosmo-modal__button-bar">
      <button class="cosmo-button" (click)="open = false" i18n="@@cancel">Cancel</button>
      <button class="cosmo-button" type="submit" i18n="@@create-application">Create app</button>
    </div>
  </form>
</div>
