<div class="cosmo-modal__container" [class.is--closed]="!isOpen">
  <form class="cosmo-modal" [formGroup]="uploadVersionForm" (ngSubmit)="upload()">
    <h1 class="cosmo-modal__title" i18n="@@upload-version-title">Upload version</h1>
    <div class="cosmo-modal__content">
      @if (hasErrors) {
        <div class="cosmo-message is--negative">
          <span class="cosmo-message__header" i18n="@@upload-version-error-title">Error occurred</span>
          <p class="cosmo-message__message" i18n="@@upload-version-error-message">
            An unknown error occurred, please check the server logs
          </p>
        </div>
      }
      <div class="cosmo-input__group">
        <label for="upload-version-number" class="cosmo-label" i18n="@@version-number-label">Version number</label>
        <input formControlName="number" type="text" class="cosmo-input" required id="upload-version-number" />
        <label for="upload-version-artifact" class="cosmo-label" i18n="@@version-artifact-label">Artifact</label>
        <input type="file" class="cosmo-input" id="upload-version-artifact" (change)="updateFile($event)" />
      </div>
    </div>
    <div class="cosmo-modal__button-bar">
      <button class="cosmo-button" (click)="isOpen = false" i18n="@@cancel">Cancel</button>
      <button class="cosmo-button" type="submit" i18n="@@upload-version">Upload version</button>
    </div>
  </form>
</div>
