@if (loading) {
  <app-loading-spinner />
} @else {
  <span class="cosmo-title"
    >{{ application.name }} <small>{{ track.name }}</small> –
    <ng-container i18n="@@track-details-version-title">Versions</ng-container></span
  >
  <div class="cosmo-toolbar">
    <div class="cosmo-toolbar__group">
      <button class="cosmo-button" (click)="uploadVersion.open()" i18n="@@track-details-version-new">
        Upload version
      </button>
    </div>
  </div>
  <table class="cosmo-table" style="width: 100%">
    <thead>
      <tr>
        <th>#</th>
        <th i18n="@@track-details-version-number">Version</th>
        <th i18n="@@track-details-version-upload-date">Upload date</th>
        <th i18n="@@track-details-version-download-link">Download link</th>
        <th i18n="@@track-details-version-actions">Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (version of versions; track version) {
        <tr>
          <td>{{ version.id }}</td>
          <td>{{ version.version }}</td>
          <td>{{ uploadDateToString(version.uploadDate ?? '') }}</td>
          <td>
            <a target="_blank" [href]="version.url">{{ version.url }}</a>
          </td>
          <td>
            <div class="cosmo-toolbar__group">
              <button
                class="cosmo-button is--small"
                i18n="@@track-details-version-edit"
                (click)="openEditVersion(version, uploadVersion)"
              >
                Edit
              </button>
              <button
                class="cosmo-button is--small"
                i18n="@@track-details-version-delete"
                (click)="openDeleteVersion(version, deleteVersionConfirm)"
              >
                Delete
              </button>
            </div>
          </td>
        </tr>
      }
    </tbody>
  </table>

  <app-confirm
    negative
    title="Delete version"
    confirmLabel="Delete version"
    declineLabel="Don't delete"
    i18n-title="@@delete-version-title"
    i18n-declineLabel="@@delete-version-decline"
    i18n-confirmLabel="@@delete-version-confirm"
    #deleteVersionConfirm
    (decline)="deleteVersionConfirm.open = false"
    (confirm)="deleteVersion(deleteVersionConfirm)"
  >
    <ng-container i18n="@@delete-version-message">
      Do you really want to delete the version {{ selectedVersion?.version }} in {{ track.name }} and app
      {{ application.name }}?
    </ng-container>
  </app-confirm>

  <app-upload-version-dialog [application]="application" [track]="track" (saved)="loadVersions()" #uploadVersion />
}
