<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Jinya Releases</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/base-min.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/buttons-min.css">
    <style>
        body {
            padding: 0 20%;
        }
    </style>
</head>
<body>
<h1>Welcome to Jinya Releases</h1>
<p>
    Here you can download all versions of the Jinya CMS. You can choose between unstable and stable builds. The unstable
    builds are not suitable for production installations.
</p>
<p>
    <a class="pure-button pure-button-primary" href="/cms">Take me to the stable builds</a>
    <a class="pure-button" href="/cms/unstable">Take me to the unstable builds</a>
</p>
</body>
</html>