<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Jinya Releases</title>
    <link rel="stylesheet" type="text/css" href="/static/pico.css">
    <link rel="stylesheet" type="text/css" href="/static/jinya.css">
    <link rel="icon" href="/static/favicon-light.png" type="image/png"/>
    <link rel="icon" href="/static/favicon-dark.png" media="(prefers-color-scheme: dark)" type="image/png"/>
    <link rel="icon" href="/static/favicon.svg" type="image/svg+xml"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png"/>
    <link rel="mask-icon" href="/static/safari-pinned-tab.svg" color="#19324c"/>
    <meta name="apple-mobile-web-app-title" content="Jinya CMS Releases"/>
    <meta name="application-name" content="Jinya CMS Releases"/>
    <meta name="msapplication-TileColor" content="#19324c"/>
    <meta name="theme-color" content="#19324c"/>
</head>
<body>
<main class="container">
    <article>
        <h1>Welcome to Jinya CMS Releases</h1>
        <p>
            Here you can download all versions of the Jinya CMS. You can choose between unstable and stable builds. The
            unstable builds are not suitable for production installations.
        </p>
        <p>
            <a role="button" href="/cms">Take me to the stable builds</a>
            <a role="button" class="secondary" href="/cms/unstable">Take me to the unstable builds</a>
        </p>
    </article>
</main>
</body>
</html>